<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- [CSS] -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css" integrity="sha512-42kB9yDlYiCEfx2xVwq0q7hT4uf26FUgSIZBK8uiaEnTdShXjwr8Ip1V4xGJMg3mHkUt9nNuTDxunHF0/EgxLQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="../styles/index.css">
        <link rel="stylesheet" href="../styles/guild.css">

        <!-- [JS] -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js" integrity="sha512-bUg5gaqBVaXIJNuebamJ6uex//mjxPk8kljQTdM1SwkNrQD7pjS+PerntUSD+QRWPNJ0tq54/x4zRV8bLrLhZg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <title><%= bot.user.username %> | Dashboard</title>
    </head>

    <body style="background-color: #181a1b;">
        <!-- [Navbar - Start] -->
        <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="<%= bot.user.displayAvatarURL({ dynamic: true, size: 2048 }) %>"  width="40" height="40" alt="<%= bot.user.username %>" style="border-radius: 5px;">
                    <%= bot.user.username %>
                </a>

                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                    </ul>
              
                    <% if(!user) { %>
                        <ul class="nav navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/authorize"><span class="fas fa-sign-in-alt"></span> Login</a>
                            </li>
                        </ul>
                    <% } else { %>
                        <ul class="nav navbar-nav ms-auto">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #343a40;">
                                    <img src="<%= user.avatarURL %>"  width="40" height="40" alt="<%= user.tag %>" style="border-radius: 5px;">
                                    <span class="text-white"><%= user.tag %></span>
                                </button>

                                <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton1">
                                    <li>
                                        <a class="dropdown-item text-white" href="/dashboard">
                                            <i class="fas fa-cog"></i>
                                            Guilds
                                        </a>
                                    </li>

                                    <hr style="color: white;">

                                    <li>
                                        <a class="dropdown-item text-danger" href="/authorize/logout">
                                            <i class="fas fa-sign-out-alt"></i>
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </ul>
                    <% } %>
                </div>
            </div>
        </nav>
        <!-- [Navbar - End] -->

        <div style="display: flex; flex-wrap: wrap; justify-content: center;">
            <div class="card bg-dark" style="max-width: 18rem; margin: 2rem; min-width: 18em;">
                <form method="POST">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Guild Prefix</h5>
                        
                        <hr />
    
                        <input type="text" class="form-control bg-dark text-white" name="prefix" min="1" max="3" placeholder="Current: <%= settings.prefix %>">
                        <label>Server's Prefix</label>
    
                        <hr />
    
                        <button type="submit" class="btn btn-success">Save Settings</button>
                    </div>
                </form>
            </div>

            <div class="card bg-dark" style="max-width: 18rem; margin: 2rem; min-width: 18em;">
                <form method="POST">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Log Channel</h5>
                        
                        <hr />
    
                        <select class="form-control bg-dark text-white" name="logChannel">
                            <% 
                                var logChannelID = settings.logChannel;
                                var logChannel = logChannel !== '0' ? guild.channels.cache.get(settings.logChannel) : undefined;
                                if(!logChannel) logChannel = 'None';
                            %>

                            <option value="<%= logChannel === "None" ? '' : logChannel.id %>" disabled selected><%= logChannel !== "None" ? `#${logChannel.name}` : logChannel %></option>

                            <% guild.channels.cache.filter((c) => c.type === "GUILD_TEXT").forEach((ch) => { %>
                                <option value="<%= ch.id %>">#<%= ch.name %></option>
                            <% }) %>
                        </select>
                        <label>Server's Log Channel</label>
    
                        <hr />
    
                        <button type="submit" class="btn btn-success">Save Settings</button>
                    </div>
                </form>
            </div>

            <div class="card bg-dark" style="max-width: 18rem; margin: 2rem; min-width: 18em;">
                <form method="POST">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Members Channel</h5>
                        
                        <hr />
    
                        <select class="form-control bg-dark text-white" name="membersChannel">
                            <% 
                                var membersChannelID = settings.membersChannel;
                                var membersChannel = membersChannel !== '0' ? guild.channels.cache.get(settings.membersChannel) : undefined;
                                if(!membersChannel) membersChannel = 'None';
                            %>

                            <option value="<%= membersChannel === "None" ? '' : membersChannel.id %>" disabled selected><%= membersChannel !== "None" ? `#${membersChannel.name}` : membersChannel %></option>

                            <% guild.channels.cache.filter((c) => c.type === "GUILD_TEXT").forEach((ch) => { %>
                                <option value="<%= ch.id %>">#<%= ch.name %></option>
                            <% }) %>
                        </select>
                        <label>Server's Members Channel</label>
    
                        <hr />
    
                        <button type="submit" class="btn btn-success">Save Settings</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- [Footer - Start] -->
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p class="col-md-4 mb-0 text-muted">©️ <%= bot.user.username %>, All Rights Received</p>
            
                <a href="#" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <img src="<%= bot.user.displayAvatarURL({ dynamic: true, size: 2048 }) %>" width="100" height="100" style="border-radius: 5px;">
                </a>
            
                <ul class="nav col-md-4 justify-content-end">
                  <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                  <li class="nav-item"><a href="/guilds" class="nav-link px-2 text-muted">Dashboard</a></li>
                </ul>
            </footer>
        </div>
        <!-- [Footer - End] -->
    </body>
</html>