<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- [CSS] -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="./styles/index.css">

        <!-- [JS] -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/countup.js/1.9.0/countUp.js'></script>

        <title><%= bot.user.username %> | Main</title>
    </head>

    <body style="background-color: var(--bs-gray-800);">
        <!-- [Navbar - Start] -->
        <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="<%= bot.user.displayAvatarURL({ dynamic: true, size: 2048 }) %>"  width="40" height="40" alt="<%= bot.user.username %>" style="border-radius: 5px;">
                    <%= bot.user.username %>
                </a>

                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="true">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div id="navbar" class="navbar-collapse collapse hide">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                    </ul>
              
                    <% if(!user) { %>
                        <ul class="nav navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/authorize"><span class="fas fa-sign-in-alt"></span> Login</a>
                            </li>
                        </ul>
                    <% } else { %>
                        <ul class="nav navbar-nav ms-auto">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #343a40;">
                                    <img src="<%= user.avatarURL %>"  width="40" height="40" alt="<%= user.tag %>" style="border-radius: 5px;">
                                    <%= user.tag %>
                                </button>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li>
                                        <a class="dropdown-item" href="/guilds">
                                            <i class="fas fa-cog"></i>
                                            Guilds
                                        </a>
                                    </li>

                                    <hr>

                                    <li>
                                        <a class="dropdown-item text-danger" href="/authorize/logout">
                                            <i class="fas fa-sign-out-alt"></i>
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </ul>
                    <% } %>
                </div>
            </div>
        </nav>
        <!-- [Navbar - End] -->

        <div class="container-fluid p-4">
            <div class="row">
                <div class="col-md-4">
                    <div class="info-card bg-dark">
                        <div class="info-card-body text-white">
                            <h3>
                                <i class="fas fa-bars"></i>
                                Guilds Count
                            </h3>

                            <hr>

                            <p id="guildsCount"></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="info-card bg-dark">
                        <div class="info-card-body text-white">
                            <h3>
                                <i class="fas fa-user"></i>
                                Users Count
                            </h3>

                            <hr>

                            <p id="usersCount"></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="info-card bg-dark">
                        <div class="info-card-body text-white">
                            <h3>
                                <i class="fas fa-gamepad"></i>
                                Commands
                            </h3>

                            <hr>

                            <p id="commandsCount"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script>
        var suffix = (n) => n < 1 ? '' : 's';
    
        var guildCount = new CountUp('guildsCount', 0, '<%= bot.guilds.cache.size %>', 0, 5, { suffix: ` Guild${suffix(Number('<%= bot.guilds.cache.size %>'))}` });    
        if(!guildCount.error) guildCount.start();
        else console.log(guildCount.error);

        var userCount = new CountUp('usersCount', 0, '<%= bot.users.cache.size %>', 0, 5, { suffix: ` User${suffix(Number('<%= bot.users.cache.size %>'))}` });
        if(!userCount.error) userCount.start();
        else console.log(userCount.error);

        var commandCount = new CountUp('commandsCount', 0, '<%= bot.commands.size %>', 0, 5, { suffix: ` Command${suffix(Number('<%= bot.commands.size %>'))}` });
        if(!commandCount.error) commandCount.start();
        else console.log(commandCount.error);
    </script>
</html>